<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
    </configSections>
    <unity>
        <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
        <containers>
            <container name="cyfContainer">
                <extension type="Interception"/>
                <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="Cyf.EntityFramework.Model.CyfDBContext, Cyf.EntityFramework.Model"/>
                <register type="Cyf.EntityFramework.Interface.ICompanyService,Cyf.EntityFramework.Interface" mapTo="Cyf.EntityFramework.Business.CompanyService, Cyf.EntityFramework.Business">
                    <interceptor type="InterfaceInterceptor"/>
                </register>
                <register type="Cyf.EntityFramework.Interface.IUserService,Cyf.EntityFramework.Interface" mapTo="Cyf.EntityFramework.Business.UserService, Cyf.EntityFramework.Business">
                    <interceptor type="InterfaceInterceptor"/>
                    <interceptionBehavior type="Cyf.MVC5.Utility.AOP.LogBeforeBehavior, Cyf.MVC5"/>
                    <interceptionBehavior type="Cyf.MVC5.Utility.AOP.LogAfterBehavior, Cyf.MVC5"/>
                </register>
              <register type="Cyf.Remote.Interface.ISearchService,Cyf.Remote.Interface" mapTo="Cyf.Remote.Service.SearchService, Cyf.Remote.Service">
                <interceptor type="InterfaceInterceptor"/>
              </register>
              <register type="Cyf.Remote.Interface.ISearchService,Cyf.Remote.Interface" mapTo="Cyf.Remote.Service.SearchServiceUpdate, Cyf.Remote.Service" name ="update">
                <interceptor type="InterfaceInterceptor"/>
              </register>
            </container>

            <!--<container name="ruanmouContainerGeneric">
                <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="Cyf.EF.Model.JDDbContext, Cyf.EF.Model"/>
                <register type="Cyf.Bussiness.Interface.IBaseService`1,Cyf.Bussiness.Interface" mapTo="Cyf.Bussiness.Service.BaseService`1, Cyf.Bussiness.Service"/>
                <register type="Cyf.Bussiness.Interface.ICategoryService,Cyf.Bussiness.Interface" mapTo="Cyf.Bussiness.Service.CategoryService, Cyf.Bussiness.Service"/>
                <register type="Cyf.Bussiness.Interface.ICommodityService,Cyf.Bussiness.Interface" mapTo="Cyf.Bussiness.Service.CommodityService, Cyf.Bussiness.Service"/>
            </container>-->
        </containers>
    </unity>
</configuration>